Question 1:The Road Trip Planner

In [4]:
#Question 1
fuel_efficiency = 11.5
total_distance = 475
fuel_price = 1.65
tank_capacity = 50

#(a) How many liters of fuel will you need for the entire trip?
fuel_needed = total_distance / fuel_efficiency
print(fuel_needed)

41.30434782608695

 "Explanantion" Divide every mile by the vehicle's fuel efficiency to get how much oil is required.
This indicates the number of liters needed to cover 475 kilometers.

In [5]:
# (b) How many full tanks of fuel does this represent?
tank_capacity = 50  # liters

full_tanks_needed = fuel_needed // tank_capacity
print(f"Full tanks needed: {full_tanks_needed}")

# "Explanantion" Using floor division (//) gives the whole number of full tanks required.
# Since 41.3 liters is less than one full tank (50 liters), the result is 0 full tanks needed, because you start with a full tank and wonâ€™t need to refill.

Full tanks needed: 0.0

In [6]:
# (c) What is the total estimated fuel cost for the trip (based on the fuel needed)?

total_cost = fuel_needed * fuel_price
print(total_cost)
# Multiply the total liters needed by the price per liter to get the total fuel cost.

68.15217391304347

In [7]:
# (d) . After completing the trip, how many liters of fuel will be remaining in your tank if you started full and only refueled the exact amount needed?

fuel_remaining = tank_capacity - fuel_needed
print(fuel_remaining)

# Start with a full tank (50 liters), subtract the fuel used for the trip to find what remains.

8.695652173913047

Question 2 : Theme Park Entry Rules

In [8]:
# Question 2 : Theme Park Entry Rules
age = 30
weekday = True
family_day = False
group_size = 3

In [9]:
# (a) : Write a single, comprehensive Python boolean expression that evaluates to True if a person with the current variable values qualifies for a discount, and False otherwise.
# Show the expression and its result

discount = ((age <= 12 and weekday) or (age >= 65) or (family_day and group_size >= 4))
print(discount)

False

In [10]:
# b. Now, change the variables to:
age = 10
is_weekday = True
is_family_day = False
group_size = 2
# Evaluate your boolean expression from part (a) with these new values. Show the result.

discount = ((age <= 12 and is_weekday) or (age >= 65) or (is_family_day and group_size >= 4))
print(discount)

# c. I started by checking if the age is less than or equal to 12. Since the age is 10, this requirement is met. Next, I checked if it is a weekday, which is true. If both these requirements are combined with the 'and' operator, the result remains true because both are true. Then, I checked whether the age is greater than or equal to 65, but since the age is just 10, this one is false. Lastly, I checked whether it is a family day and if the size is 4 or greater. Those two are false, so the part of this expression is false as well. When I combine all these results with the 'or' operator, we only want one condition to be true so the entire expression will be true. Since the first condition is true, the end result is that the person is eligible for the discount.

True

Explanation (c.): I started by checking if the age is less than or equak to 12. Since the age is 10, this requirement is met. Next, I checked if it is a weekday, which is true. If both these requirements are combined with the 'and' operator, the result remains truie because both are true. Then, I checked whether the age is greater than or equal to 65, but since the age is 10, this is false. Lastly, I checked whether it is a family day and if the size is 4 or greater. Those two are false as well. when I combine all these results with the 'or' operator, we only want one condition to be true so the entire expression will be true. Since the first condition is true, the end result is that the person is eligible for the discount.

 Question 3. String Data Types, Indexing & Slicing

In [11]:
# Question 3. String Data Types, Indexing & Slicing

# You are given the following secret message encoded in a Python string:
secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!"
# a. Character at index 5
print(secret_message[5])
# b. Extract "Is_FuN" (positive indexing)
print(secret_message[7:13])
# c. Extract "PoWeRfUl" (negative indexing)
print(secret_message[-9:-1])
# d. Every 4th character from index 0
print(secret_message[0::4])

# e. If you try to access secret_message[50], what happens?
# Explain this result in your own words, referring to the concept of string length.

N
Is_FuN
PoWeRfUl
PosNDWU

Explanation: It gives me an error called IndexError. This is because in the string secret_message = "PyThoN_Is_FuN_AnD_PoWeRfUl!" has only 27 characters in total. Since counting in Python starts from 0, the last character is actually at index 26. So when I ask for index 50, Python can't find anything there and tells me that
I'm going beyond the end of the string.

Question 4. Boolean Values & Expressions

In [12]:
# Question 4. Boolean Values & Expressions

#Consider the following Python variable assignments:
x = 15
y = 25
z = 15
text = "adventure"
# For each boolean expression below:

#a. According to me it should be true because x is equals to z and y is greater than x."
(x==z) and (y>x)

True

In [13]:
#b. I think it should be false because none of the conditions seems to be true.
(x!=z) or (y<x) or (len(text)<5)

False

In [14]:
#c. It should be true, because (x>y) is false and text == "Adventure" is also false due to capital A.
not ((x > y) and (text == "Adventure"))

True

Question 5. User Profile Setup

In [15]:
# Question 5. User Profile Setup
# a.
username = "MyUser123"
username[0] = 'm'

TypeError: 'str' object does not support item assignment

It returns a TypeError when I attempt to execute the line username[0] ='m'. This is due to Python's immutable strings, which prevent me from directly altering individual characters once they have been produced. Therefore, attempting to alter the username's first letter alone does not function as it might in other programming languages.

In [ ]:
#b. Transform quote
quote = " practice makes perfect "
# Step 1: Remove leading/trailing whitespace
quote = quote.strip()

# Step 2: Convert to uppercase
quote = quote.upper()

# Step 3: Replace "PERFECT" with "PROGRESS"
formatted_quote = quote.replace("PERFECT", "PROGRESS")

print (formatted_quote)

PRACTICE MAKES PROGRESS

In first step, I used .strip() which helps to remove any space at the beginning or end of the string. Then I used .upper () changes all the letters in the string to uppercase. Finally, I used .replace("PERFECT","PROGRESS") to replace the word "PERFECT" with "PROGRESS" in the string.

In [ ]:
#c. Length of the original and formatted quotes

quote = " practice makes perfect "
formatted_quote = quote.strip().upper().replace("PERFECT", "PROGRESS")

# Get lengths
original_length = len(quote)
formatted_length = len(formatted_quote)

print("Original length:", original_length)
print("Formatted length:", formatted_length)

Original length: 24
Formatted length: 23

I used len() operator to get the number of characters in each string including spaces.